$md-font-url: "node_modules/ng2-material/dist/";
$md-font-url: '/build/styles/';
@import "node_modules/ng2-material/dist/font.scss";
@import "node_modules/ng2-material/source/all";
$md-primary: md-palette($md-amber, 500, 100, 700, $md-contrast-palettes);
$md-accent: md-palette($md-indigo, 500, 300, 700, $md-contrast-palettes);

@import "node_modules/ng2-material/source/components";

@import "variables";

.container .text-muted {
  margin: 20px 0;
}

.ut-header {
  background-color: $color-amber
}

a, a:hover, a:focus {
    color: #3f51b5; /*indigo*/
}
.hidden {
  display: none;
}
/* fix ng2-material*/
html, body {
  height: auto;
  position: static;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.panel-heading-material-indigo{
  background-color: #3f51b5 ;
  color: #fff ;
  padding: 13px;
}


.ut-container-navbar__shadow{
  box-shadow:
    0 1px 6px 0 rgba(0, 0, 0, .12),
    0 1px 6px 0 rgba(0, 0, 0, .12)
}
pre {
  font-size: 11px;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.container {
  padding-right: 0;
  padding-left: 0;
}
.col-xs-12 {
  padding-right: 0;
  padding-left: 0;
}
.header__padding{
  padding-left: 15px;
}
@media (min-width: 768px) {
  .ut-container-navbar{
    padding: 0 1rem;
  }
  pre {
    font-size: 13px;
  }

  .col-xs-12 {
    margin-right: 15px;
    margin-left: 15px;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .header__padding{
    padding-left: inherit;
  }

  .Grid {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
  }
  .Grid-cell {
    flex: 1;
  }
  .Grid--flexCells>.Grid-cell {
    display: flex;
  }
}

.width100{
  width:100%
}

.shadow-z-0 {
  box-shadow: none !important
}
.margin-bottom-none {
  margin-bottom: 0 !important
}
.text-white {
  color: white
}
.navbar.top-nav-collapse{
  background-color: rgba(255, 193, 7, .9);;
}
textarea {
  overflow:hidden
}
