$md-font-url: "node_modules/ng2-material/dist/";
$md-font-url: './';
@import "node_modules/ng2-material/dist/font.scss";
@import "node_modules/ng2-material/source/all";
$md-primary: md-palette($md-amber, 500, 100, 700, $md-contrast-palettes);
$md-accent: md-palette($md-indigo, 500, 300, 700, $md-contrast-palettes);

@import "node_modules/ng2-material/source/components";

@import "variables";


.ut-header {
  background-color: $color-amber
}

.hidden {
  display: none;
}

md-content {
  overflow: auto !important;
}


main {
  min-height: calc(100vh - 128px);
}
@media only screen and (min-width: 0) and (max-width: 600px) and (orientation: portrait) {
  main {
    min-height: calc(100vh - 112px);
  }
}
@media only screen and (min-width: 0) and (max-width: 600px) and (orientation: landscape) {
  main {
    min-height: calc(100vh - 96px);
  }
}

ut-translation-container{
  position: relative;
  padding: 2px;
  margin: 18px 0;
  vertical-align: middle;
  display: block;
  ut-translation {
    white-space: pre-line;
    word-wrap: break-word;

    display: block;
    margin-top: 0;
    background: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: -1px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    line-height: 26px;
    min-height: 26px;
    width: 100%;
  }
  textarea[ut-translation]{
    color: rgba(0, 0, 0, 0.87);
    border-color: rgba(0, 0, 0, 0.12);

    order: 2;
    background: none;
    padding-top: 2px;
    padding-bottom: 1px;
    border-width: 0 0 1px 0;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
    float: left;
    resize: none;
  }
  textarea[fake-area]{
    height: 0;
    opacity: 0;
    padding: 0;
    margin: -1px;
    // border: none;
  }
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

textarea[autogrow] {
  height: 26px;
  overflow:hidden
}

.ut-source{
  .md-errors-spacer{
    display: none;
  }
}

[md-button][disabled].ut-disabled-soft{
  background-color: rgba(0,0,0,0);
  &:hover{
    background: rgba(0,0,0,0);
  }
}

.pre-line {
      white-space: pre-line;
}
.invisible {
  opacity: 0;
}

footer{
  md-toolbar:not(.md-menu-toolbar) {
      background-color: #f5f5f5;
      color:#999;
      [md-icon]{
        color:#999;
        font-size:16px;
      }
      a:hover{
        color:#777;
        [md-icon]{
          color:#777;
        }
      }
      .footer__item {
        padding-left: 10px;
        font-size:13px;
      }
  }

}
