$md-font-url: "node_modules/ng2-material/dist/";
$md-font-url: './';
@import "node_modules/ng2-material/dist/font.scss";
@import "node_modules/ng2-material/source/all";
$md-primary: md-palette($md-amber, 500, 100, 700, $md-contrast-palettes);
$md-accent: md-palette($md-indigo, 500, 300, 700, $md-contrast-palettes);

@import "node_modules/ng2-material/source/components";

@import "variables";


.ut-header {
  background-color: $color-amber
}

.hidden {
  display: none;
}

md-content {
  overflow: auto !important;
}


main {
  min-height: calc(100vh - 128px);
}
@media only screen and (min-width: 0) and (max-width: 600px) and (orientation: portrait) {
  main {
    min-height: calc(100vh - 112px);
  }
}
@media only screen and (min-width: 0) and (max-width: 600px) and (orientation: landscape) {
  main {
    min-height: calc(100vh - 96px);
  }
}

ut-translation-container{
  position: relative;
  padding: 2px;
  margin: 18px 0;
  vertical-align: middle;
  display: block;
  ut-translation {
    white-space: pre-line;
    word-wrap: break-word;
    
    display: block;
    margin-top: 0;
    background: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    border-width: 0 0 1px 0;
    line-height: 26px;
    min-height: 26px;
    width: 100%;
  }
}

textarea[autogrow] {
  height: 26px;
  overflow:hidden
}

.ut-source{
  .md-errors-spacer{
    display: none;
  }
}

.pre-line {
      white-space: pre-line;
}

footer{
  md-toolbar:not(.md-menu-toolbar) {
      background-color: #f5f5f5;
      color:#999;
      [md-icon]{
        color:#999;
      }
      a:hover{
        color:#777;
        [md-icon]{
          color:#777;
        }
      }
      .footer__item {
        padding-left: 10px;
        font-size:13px;
      }
  }

}
