<section layout-padding>
<h1>Login to your account</h1>
</section>
<!-- {{diagnostic}} -->
<!-- Template-driven form -->
<!-- http://blog.jhades.org/introduction-to-angular-2-forms-template-driven-vs-model-driven/ -->
<!-- <form role="form" (ng-submit)="onSubmit()" #hf="form">
    <div class="form-group form-group-material-amber" [class.has-error]="!email.valid && email.dirty">
        <label for="name">Login</label>
        <input type="email" class="form-control" placeholder="Login" [(ng-model)]="model.email"  #email="form" ng-control="email" required>
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          Email is required
        </div>
    </div>
    <div class="form-group form-group-material-amber">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password" [(ng-model)]="model.password" #password="form" ng-control="password" required minlength="6">
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
          Password is required, Minimal length - 6 symbols
        </div>
    </div>
    <input type="hidden" name="csrf_token" value="{{ token }}">
    <button type="submit" class="btn btn-material-indigo" [disabled]="!hf.form.valid">Login</button>
</form> -->

<!-- Model Driven Forms -->

<form role="form" [ngFormModel]="form" (ngSubmit)="onSubmitFormModel(form)">
  <md-input-container class="md-block" layout-padding>
     <label for="username">Email</label>
     <input md-input type="email" ngControl="username" id="username" [(value)]="model.username" [disabled]="submitting">
     <!-- <div md-messages="username" role="alert">
       <div md-message="required">This is required</div>
       <div md-message="mdPattern">Email is invalid</div>
       <div md-message="exists">Email not exists</div>
     </div> -->
     <!-- @todo -->
     <div [hidden]="form.controls.username.valid || form.controls.username.pristine">
       <div *ngIf="form.controls.username.hasError('required')">
         Email is required
       </div>
       <div *ngIf="form.controls.username.hasError('mdPattern')">
         Email is invalid
       </div>
       <div *ngIf="form.controls.username.hasError('exists')">
         User not exists
       </div>
       <md-progress-linear *ngIf="form.controls.username.pending" mode="indeterminate"></md-progress-linear>
     </div>
  </md-input-container>
  <md-input-container class="md-block" layout-padding>
      <label for="password">Password</label>
      <input md-input id="password" type="password" [(value)]="model.password" ngControl='password' [disabled]="submitting">
      <div [hidden]="form.controls.password.valid || form.controls.password.pristine">
        <div *ngIf="form.controls.password.hasError('required')">
          Password is required
        </div>
        <div *ngIf="form.controls.password.hasError('invalid')">
          Pasword is invalid
        </div>
      </div>
      <div md-messages="password" role="alert">
        <div md-message="required">This is required</div>
        <div md-message="invalid">Password is invalid</div>
      </div>
    </md-input-container>
    <button md-button md-raised-button class="md-raised md-primary" type="submit" [disabled]="!form.valid" [hidden]="submitting">Login</button>
</form>
<md-progress-linear *ngIf="submitting" mode="indeterminate"></md-progress-linear>

<section layout-padding>
  <p>
      No account? <a href="javascript:void(0)" [routerLink]="['Signup']">Register here</a>
  </p>
</section>
