<section layout-padding>
<h1>Register new your account</h1>
</section>
<!-- {{diagnostic}} -->

<!-- Model Driven Forms -->
<form role="form" [ngFormModel]="form" (ngSubmit)="onSubmitFormModel(form)">
    <md-input-container class="md-block" layout-padding>
        <label for="sign_username">Email</label>
        <input md-input type="email" id="sign_username" [(value)]="model.username" ngControl='username' [disabled]="submitting">
        <div [hidden]="form.controls.username.valid || form.controls.username.pristine">
          <div *ngIf="form.controls.username.hasError('required')">
            Email is required
          </div>
          <div *ngIf="form.controls.username.hasError('mdPattern')">
            Email is invalid
          </div>
          <div *ngIf="form.controls.username.hasError('exists')">
            User exists
          </div>
          <div *ngIf="form.controls.username.pending">
            <i class="fa fa-circle-o-notch fa-spin"></i>
          </div>
        </div>
    </md-input-container>
    <md-input-container class="md-block" layout-padding>
        <label for="sign_password">Password</label>
        <input md-input id="sign_password" type="password" [(value)]="model.password" ngControl='password' [disabled]="submitting">
        <div [hidden]="form.controls.password.valid || form.controls.password.pristine" class="alert alert-info">
          Something is wrong
        </div>
    </md-input-container>
    <button md-button md-raised-button class="md-raised md-primary" type="submit" [disabled]="!form.valid" [hidden]="submitting">Signup</button>
    <i class="fa fa-circle-o-notch fa-spin" *ngIf="submitting"></i>
</form>

<section layout-padding>
  <p>
      Already have an account? <a href="javascript:void(0)" [routerLink]="['Login']">Login here</a>
  </p>
</section>
