<div layout="column" layout-padding>
  <h1>Unitrans</h1>

  <!-- <p>Try out translation across multiple translations right here</p> -->
</div>

<section layout="row" layout-align="start center" layout-wrap>
  <div flex="100" flex-gt-sm="50" hide-xs>
    <!-- <span>From:</span> -->
    <button md-button disabled="true" class="md-primary">{{processedData && processedData.Source || "Auto"}}</button>
  </div>
  <div flex="100" flex-gt-sm="50">
    <!-- <span>Translate to:</span> -->
    <!-- <div class="btn-group pull-right" role="group" aria-label="languages"> -->
      <button md-raised-button
        *ngFor="#lang of languages"
        (click)=selectLang(lang)
        class="md-raised"
        [class.md-primary]="lang === selectedLang">{{lang.title}}</button>
  </div>

  <!-- </div> -->
</section>

<section layout="row" layout-wrap>

      <div flex="100" flex-gt-sm="50">
          <md-card>
              <md-card-content>
                  <md-input-container class="md-block">
                    <textarea md-input autogrow rows="1" [(ngModel)]="sourceText" #term (keyup)="asyncTranslator(term.value)" placeholder="Source"></textarea>
                  </md-input-container>
              </md-card-content>
          </md-card>
      </div>
    <div flex="100" flex-gt-sm="50">
      <md-progress-linear *ngIf="sourceText && !processedData" mode="indeterminate"></md-progress-linear>
      <div *ngIf="processedData">
        <md-card class="panel" *ngFor="#item of processedList">
          <md-card-header>
            <p>{{item.Name}} [{{item.Source || "?"}}-{{item.Lang}}] / {{item.Time}} ms / Score {{item.Score}}</p>
          </md-card-header>
          <md-card-content class="pre-line">{{item.Translation}}</md-card-content>
        </md-card>

      </div>
    </div>
  </section>
  <!-- <div class="row">
    <div class="col-xs-12">
      <pre *ngIf="processedData" class="width100">{{processedText}}</pre>
    </div>
  </div> -->
<section layout="row">
    <button md-raised-button class="md-raised md-primary" (click)="translateForce()">Translate</button>
</section>
