
  <!-- <h1>Unitrans</h1> -->

  <!-- <p>Try out translation across multiple translations right here</p> -->
  <div flex>

    <section layout="row" layout-xs="column" layout-wrap>
      <div flex>
        <md-card>
          <md-card-actions layout="row" layout-align="end center">
            <button md-button disabled="true" class="md-primary">{{processedData && processedData.Source || "Auto"}}</button>
          </md-card-actions>
          <md-card-content>
            <md-input-container class="md-block ut-source">
              <textarea md-input autogrow rows="1" [(ngModel)]="sourceText" #term (keyup)="asyncTranslator(term.value)" placeholder="Source"></textarea>
            </md-input-container>
          </md-card-content>
        </md-card>
      </div>

      <div flex #transc>
        <md-card>
          <md-card-actions layout="row" layout-align="end center">
            <button md-button
              *ngFor="#lang of languages"
              (click)=selectLang(lang)
              class="md-raised"
              [class.md-primary]="lang === selectedLang">{{lang.title}}</button>
          </md-card-actions>
          <md-card-content>
            <ut-translation-container>
              <ut-translation>{{translationUni.Translation}}</ut-translation>
              <textarea #transitem fake-area>{{translationUni.Translation}}</textarea>
            </ut-translation-container>
          </md-card-content>
        </md-card>

        <section layout="row" layout-align="end center" *ngIf="processedData">

          <!-- <span (click)="transc.__show = !transc.__show">
            <p *ngIf="!transc.__show">Expand details</p>
            <p *ngIf="transc.__show">Collapse details</p>
          </span> -->
          <button md-button class="md-icon-button" (click)="transc.__show = !transc.__show">
            <i *ngIf="!transc.__show" md-icon>keyboard_arrow_left</i>
            <i *ngIf="transc.__show" md-icon>keyboard_arrow_down</i>
          </button>
          <button md-button hide-xs class="md-icon-button" (click)="copy($event, transitem)">
            <i md-icon>content_copy</i>
          </button>
        </section>

        <section layout="column" *ngIf="transc.__show">
          <md-card *ngFor="#item of processedDetails">
            <md-card-header>
              <md-card-header-text>
                <span class="md-subhead">{{item.Name}} [{{item.Source || "?"}} - {{item.Lang}}]</span>
              </md-card-header-text>
            </md-card-header>
            <md-card-content>
              <ut-translation-container>
                <ut-translation>{{item.Translation}}</ut-translation>
              </ut-translation-container>
            </md-card-content>
          </md-card>
        </section>

      </div>

    </section>


    <!-- <md-card *ngFor="#card of cards">
      {{card}}
    </md-card> -->


  </div>
<!--

<section layout="row">

    <div flex="100" flex-gt-sm="50">
        <md-card>
            <md-card-content>
                <md-input-container class="md-block">
                  <textarea md-input autogrow rows="1" [(ngModel)]="sourceText" #term (keyup)="asyncTranslator(term.value)" placeholder="Source"></textarea>
                </md-input-container>
            </md-card-content>
        </md-card>
    </div>
    <div flex="100" flex-gt-sm="50">
      <md-progress-linear *ngIf="sourceText && !processedData" mode="indeterminate"></md-progress-linear>
      <div *ngIf="processedData">
        <md-card class="panel" *ngFor="#item of processedList">
          <md-card-header>
            <p>{{item.Name}} [{{item.Source || "?"}}-{{item.Lang}}] / {{item.Time}} ms / Score {{item.Score}}</p>
          </md-card-header>
          <md-card-content class="pre-line">{{item.Translation}}</md-card-content>
        </md-card>

      </div>
    </div>
  </section> -->
  <!-- <div class="row">
    <div class="col-xs-12">
      <pre *ngIf="processedData" class="width100">{{processedText}}</pre>
    </div>
  </div> -->
<!-- <section layout="row" layout-wrap *ngIf="!processedData">
  <div flex="100">
    <button md-raised-button class="md-raised md-primary" (click)="translateForce()">Translate</button>
  </div>
</section> -->
