<div flex>
  <header>
    <md-toolbar class="md-toolbar-tools ut-header">
      <!-- <button md-button hide-gt-xs class="md-icon-button" aria-label="Settings" (click)="showMenu = !showMenu">
        <i md-icon>menu</i>
      </button> -->
      <button md-button [routerLink]="['./Start']">Unitrans</button>

      <span flex></span>
      <!-- <button md-button hide-xs [routerLink]="['./Login']" *ngIf="!userService.in">Login</button> -->
      <button md-button hide-xs [routerLink]="['./Panel']" *ngIf="userService.in">Panel ({{userService.username}})</button>
      <button md-button hide-xs (click)="logout()" *ngIf="userService.in">Logout</button>
    </md-toolbar>
    <!-- <section layout="column" *ngIf="showMenu">
      <button md-button [routerLink]="['./Login']" *ngIf="!userService.in">Login</button>
      <button md-button [routerLink]="['./Panel']" *ngIf="userService.in">Panel ({{userService.username}})</button>
      <button md-button (click)="logout()" *ngIf="userService.in">Logout</button>
    </section> -->
  </header>

<main flex>
  <router-outlet></router-outlet>
</main>

<!-- <md-toolbar class="md-toolbar-tools">
  <div layout="row" layout-align="end center" class="md-padding">
      <span class="footer__item"><a href="http://docs.transpoint.apiary.io/#" target="_blank">API (Draft)</a></span>
      <span class="footer__item"><a href="mailto:contact@unitrans.me"><i md-icon>email</i></a></span>
      <span class="footer__item">&copy; Unitrans.me 2016</span>
  </div>
</md-toolbar> -->
<footer>
  <md-toolbar class="md-toolbar-tools">
    <div layout="row" layout-align="end center" flex>
      <span class="footer__item"><a href="http://docs.transpoint.apiary.io/#" target="_blank">API (Draft)</a></span>
      <span class="footer__item"><a href="mailto:contact@unitrans.me"><i md-icon>email</i></a></span>
      <span class="footer__item"><a href="javascript:void(0)">About</a></span>
      <span class="footer__item">&copy; Unitrans.me 2016</span>
    </div>
  </md-toolbar>
</footer>

</div>
